@page "/Object"
<AuthorizeView>
    <Authorized>
<InputSelect @bind-Value="nummer1" class="form-control">
    <option value="">--Select option--</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
</InputSelect>

<div class="card-footer">
    <div class="row">
        <div class="col">
            display value
        </div>
        <div class="col">@nummer1</div>
    </div>
</div>

@code {
    int nummer1;
}
</Authorized>
</AuthorizeView>